![LOGO](logo.jpg)

<div class="alert alert-block alert-success" style="background-color:#2e324f">
<center><b style ="color:#fff"> Hind Khaled Daori - 431010252</b>  <center>
<br>
 <center><b style ="color:#fff">Manar Alharthi - 431007193 </b>  <center> 
 <br>    
 <center><b style ="color:#fff">Ghaida Saleh – 431000415 </b>  <center>
<br>
 <center><b style ="color:#fff">Alanooud Alanzi – 431010246 </b>  <center>
<br>

</div>

In [1]:
import pandas as pd
companies = pd.read_csv('sp500_companies.csv', index_col=0)
stocks = pd.read_csv('sp500_stocks.csv', index_col=0)

In [7]:
import pickle
import numpy as np
import warnings
warnings.filterwarnings('ignore')
filename = 'rec_model.h5'
model = pickle.load(open(filename, 'rb'))
model

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=8, n_estimators=500, random_state=42)

<div class="alert alert-block alert-success" style="background-color:#2e324f; color:#fff">
<center><br><h1> Start Perdiction </h1><br>  <center>
</div>

In [10]:
currentPrice = float(input("Enter Current Price:"))
print("Choose Desired Country:")
print("0) Ireland")
print("1) Switzerland")
print("2) United States")
Country = float(input("Choosen Country is: "))

Enter Current Price:855
Choose Desired Country:
0) Ireland
1) Switzerland
2) United States
Choosen Country is: 2

In [11]:
#Calculating Prediction
#from sklearn import preprocessing
#scaler = preprocessing.MinMaxScaler()
#new = scaler.fit_transform(np.array([currentPrice,Country]).reshape(1, -1))
new = np.array([currentPrice,Country]).reshape(1, -1)
y_pred = model.predict(new)


if(y_pred == 0):
    sector = "Financial Services"
elif(y_pred == 1):
    sector = "Industrials"
elif(y_pred == 2):
    sector = "Technology" 
    
print('Predicted Sector is : ' , sector)

Predicted Sector is :  Industrials

<div class="alert alert-block alert-success" style="background-color:#2e324f; color:#fff">
<center><br><h1> Predicted Comapny Info </h1><br>  <center>
</div>

In [12]:
import numpy as np
def find_nearest(array, value):
    array = np.asarray(array)
    idx = (np.abs(array - value)).argmin()
    return array[idx]

data = companies[companies['Sector'] == sector]
new = find_nearest(data['Currentprice'], currentPrice)
company_row = data[data['Currentprice'] == new]
print('Symbol: ' ,company_row['Symbol'][0])
print("Company Name: " , company_row['Shortname'][0])

Symbol:  TDG
Company Name:  Transdigm Group Incorporated

In [13]:
info = stocks[stocks['Symbol'] == company_row['Symbol'][0]]
info.head(8000)
info = info.iloc[-1:]
info.head()

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2022-04-11,TDG,633.530029,633.530029,647.320007,633.359985,638.25,178100.0

In [14]:
print("Company Name: " , company_row['Shortname'][0])
print('Symbol: ' ,info['Symbol'][0])
print("Adj Close: " , info['Adj Close'][0])
print('Close: ' ,info['Close'][0])
print("High: " , info['High'][0])
print('Low: ' ,info['Low'][0])
print("Open: " , info['Open'][0])
print("Volume: " , info['Volume'][0])

Company Name:  Transdigm Group Incorporated
Symbol:  TDG
Adj Close:  633.530029296875
Close:  633.530029296875
High:  647.3200073242188
Low:  633.3599853515625
Open:  638.25
Volume:  178100.0